:root{
    --var-black:#000a0f;
    --var-blue:rgb(0, 85, 255);
    --var-white: #fff;
    --var-font_1: "Libre Franklin", sans-serif;
    --var-font_2: "Roboto", sans-serif;


}


*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}


body{
    background: var(--var-black);
}

.contenedor-header{
    position: sticky; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: .4s;
}
.contenedor-header .logo{
    margin: 40px;
    width: 20%;
    color: #fff;
    font-size: 35px;
    cursor:pointer;
    transition: .4s;
}
.contenedor-header .logo:hover{
    font-size: 37px;

}
.contenedor-header .logo a{
    color: #fff;
    text-decoration: none;
}
.contenedor-header nav{
    margin: auto -940px auto auto;
    background: none;
    box-shadow: none;


}
.contenedor-header nav a{
    text-decoration: none;
    transition: .4s;
}
.contenedor-header nav a:hover{
    color:  var(--var-blue);
    font-size: 17px;
}
.contenedor-header .botones{
    display: flex;
    align-items: center;
    gap: 10px; 
    margin: auto 60px;
    display: flex;
    justify-content: space-between;


}
.contenedor-header .botones a{
   text-decoration: none;
   
}

.contenedor-header .botones button{
    background: none;
    width: auto;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 13px 25px;
    text-decoration: none;
    transform: all 0.5 ease 3s;
    font-weight: bolder;
    transition: .4s;
 }
 .contenedor-header .botones .comenzar{
    background: var(--var-blue);
}
.contenedor-header .botones .comenzar:hover{
    cursor: pointer;
    background:  rgb(6, 164, 255);

}
 .contenedor-header .botones .login{
    display: flex;
    justify-content: space-around;
    width: auto;
}
.contenedor-header .botones .login:hover{
    cursor: pointer;
    background: #ffffff24;
}


.contenedor{
    background: #fff;
    color: #000a0f;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:800px){
    .contenedor-header nav{
        display: none;
    }
    .contenedor-header .botones{
        display: none;
    }
}