<div class="contenedor-header">
  <div class="logo" href="/psb/home">
    <a href="/psb/home">PSB</a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="#">Conoce PSB</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Sobre nosotros</a></li>
    </ul>
  </nav>
  <div class="botones">

    <a href="/psb/signup"><button class="comenzar">Comenzar</button></a>
    <a href="/psb/signup"><button class="login">Iniciar Sesión</button></a>
  </div>
</div>