
<style>
  body {
    margin: 0;
    height: 300vh; /* Altura para permitir el scroll */
    transition: background-color 1s ease; /* Transición suave */
    position: relative;
    }

    .section {
        background: none;
        padding: 50px;
        color: #f4f4f4;
        background:none;
        width: 100%;
        height: 90vh; /* Altura de cada sección igual a la altura de la ventana */
        transition: background-color 1.5s ease; /* Transición suave del color */
        font-family: var(--var-font_2);
        position: relative;
    }

    .inicio{
        font-size: 52px;
        position: relative;
        display: flex;
        justify-content: space-evenly ;
        align-items: center;
        background: none; /* Fondo negro fijo */
        color: white;
        padding: 0 20px 0 10px;
        font-weight: bolder;
    }
    
    .inicio_texto{
      max-width: 600px;

    }
    .inicio_texto p{
        font-size: clamp(.8 em, 2vw, 3em);
        margin-bottom:80px;
        letter-spacing: normal;    
    }

    .inicio_texto p span{
      color: var(--var-blue);
    }


   /* img pulsera */
   .inicio_img{
    position: relative;
    top: -25px;
    right: -40px;

   }

   .inicio_img img{
    max-width: 450px;
    height: auto;
    animation: animate 2.5s linear infinite;
   }

  /*Botones inicio*/
  .botones{
    display: flex;
    justify-content: space-around;
  }
  .btn{
    width: 100px;
    height: auto;
    color: var(--var-white);
    text-align: center;
    background-color: var(--var-blue);
    padding: 18px 30px;
    border-radius: 25px;
    transition: .4s;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;

  }
  .btn:hover{
    background:  rgb(6, 164, 255);
    box-shadow: 5px 5px 14px -5px rgba(40, 65, 203, 0.5);
    color: var(--var-white);
    padding: 18px 40px;
    height: auto
  }
  .btn-secondary{
    background: none;
    border: 1px solid white;
    color: var(--var-white);
  }
  
  .btn-secondary:hover{
    background: #fff;
    color: var(--var-blue);
  }
  /*animacion*/
  .animation{
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;

  }
  .animation path{
    stroke: var(--var-blue);
    stroke-dasharray: 3402;
    stroke-dashoffset: 3402;
    animation: animatesvg 3s linear forwards;
  }
  @keyframes animatesvg{
    to{
      stroke-dashoffset: 0;
    }
  }
  /*section 2*/

    .section-2{
        background-color: none; /* Fondo negro por defecto */
        color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
    }

    .section-2 .psb{
      margin: 10px auto;
      padding-right: 25px;
      font-size: 45px;

    }
     .section-2 .h1{
      margin: 10px auto;
      font-weight: bolder;
      padding: 50px;
      font-size: 55px;
      width: 85%;
    }
     .section-2 span{
      color: var(--var-blue);
    }
    .section .h2{
      margin: 0 auto 10px auto;
      padding: 50px;
      font-size: 22px;
      width: 70%;
    }

   @keyframes animate {
      0%, 100% {
        transform: translateY(-20px)
      }
      50%{
        transform: translateY(20px)
      }
   }
   .img_med{
    width: 50%;
    height: auto;
    border-radius: 20px;
    margin: 30px auto;
   }
   .contenedor-2{
    display: flex;
    justify-content: space-evenly;
   }
   .contenedor-2 .h3{
    margin: 30px auto;
    width: 50%;
    text-align: left;
    padding: 20px;
    font-size: 55px;
    font-weight: bolder;
   }


    .imagenes{
      width: 90%;
      height: auto;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
    .imagenes img{
      margin: 20px;
      width: 28%;
      border-radius: 170px;
      transition: .4s;
    }
    .imagenes .img_med:hover{
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0,0,0,1);

    }
    .contenedor-2{
      margin: 90px 0;
    }
      .iconos{
      width: 40%;
      margin-top: 30px;
      margin-left: 110px;
      height: auto;
      display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        grid-template-areas:
        "item1     item2"
        "item3    item4"
    }
    .iconos i{
      padding: 30px 0;
    }

    .fa-stethoscope{
      grid-column: item1;
      color: #0636d4;
      font-size:90px;
    }
    .fa-house-chimney-medical{
      grid-column: item2;
      color: #0636d4;
      font-size:90px;
    }
    .fa-cloud{
      grid-column: item3;
      color: #0636d4;
      font-size:90px;
    }
    .fa-chalkboard{
      grid-column: item4;
      color: #0636d4;
      font-size:90px;
    }
    .contenedor-2 > p{
      margin-top: -90px;
    }

    @media screen and (max-width: 820px) {
      .contenedor-header .logo{
        margin-top: 100px;
      }
    .section{
      display: flex;
      width: 100%;
      height: auto;
      flex-direction: column;
      font-size: 40px;
      text-align: center;
      justify-content: center;
      margin-top:20px;
    }


    .inicio_texto {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .inicio_texto > p{
      font-size: 3rem;
      margin: 0 auto;
      width: 100%;
    }
    .inicio_texto .buttons{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-direction: column;
      margin: 60px auto;
      gap: 40px;
    }
    .inicio_texto .buttons a{
      width: 100%;
    }
    .inicio_texto{
      margin: 50px;
      padding: 20px 40px;
      min-width: 100px;
      height: auto;
      padding: auto;
      border-radius: 15px;
      font-size: 20px;
    }
    .inicio_img{
      width: 230px;
     margin-top: -30px;
      margin-left:-60px;
    }

    
    .inicio .inicio_img img {
      width: 100%;
      height: 100%;
      margin:auto;
    }
    .inicio_texto .btn-secondary{
        width: 120px;
    }
    

    .section-2{
      width: 100%;
      padding: 50px 0;
      margin: 0;
      flex-direction: column;
    }
    .section-2 .h1{
      font-size: 35px ;
      padding: 20px 0px;
      width: 90%;
    }
    .section-2 .h2{
      text-align: justify;
      font-size: 18px ;
      padding: 20px 10px ;
      margin: 0;
      width: 90%;
    }
    .section-2 .imagenes{
      margin: 40px 0;
      width: auto;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .section-2 img{
      width: 320px;
    }
    .contenedor-2{
      width: 90%;
      margin: 0;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .contenedor-2 .iconos{
      margin: auto;
      display: block;
      justify-content: center;
    }
    .contenedor-2 .h3{
      width: 100%;
      margin: 0;
      padding: 40px 10px;
      font-size: 30px;
      text-align: center;
    }
    .section-2 .h4{
      font-size: 18px;
      width: 100%;
      margin: 0;
      padding: 40px 10px;
      text-align: center;
    }
}
  </style>
  

  <section class="section inicio" >

      {{!-- ANIMACION --}}
    <div class="inicio_texto">
      <p>Cuidando cada <span>instante,</span> <span>protegiendo</span> cada pulso</p>
      <div class="buttons">
        <a href="/signup" class="btn">Comenzar</a>
        <a href="/home" class="btn btn-secondary">Conócenos</a>
      </div>
    </div>
    <div class="inicio_img">
      <img src="/img/watch2.png" alt="">
    </div>

  </section>

  <section class="section section-2">
   
    <p class="psb"> PSB </p>
    <p class="h1">Combinamos <span>tecnología, innovación y empatía</span> para transformar vidas</p>
    <p class="h2">Nuestra misión es brindar seguridad y tranquilidad a quienes enfrentan los desafíos del Parkinson, desarrollando pulseras inteligentes que detectan ataques y envían alertas inmediatas a cuidadores y familiares.</p>
    <div class="imagenes">
      <img class="img_med" src="/img/1.png" alt="">
      <img class="img_med" src="/img/2.png" alt="">
      <img class="img_med" src="/img/3.png" alt="">

    </div>
    <div class="contenedor-2">
      <div class="iconos">
        <i class="fa-solid fa-stethoscope"></i>
        <i class="fa-solid fa-house-chimney-medical"></i>
        <i class="fa-solid fa-cloud"></i>
        <i class="fa-solid fa-chalkboard"></i>
      </div>
      <p class="h3">Brindamos <span>tranquilidad, seguridad y apoyo.</span> Cada latido merece ser protegido.</p>
    </div>
    <p class="h2">Nuestra visión es liderar un futuro donde la tecnología sea un puente entre la salud y la calidad de vida, protegiendo cada latido y cuidando cada instante. Con PSB, cada pulsera es un compromiso con el bienestar y la dignidad de quienes más lo necesitan.</p>
  </section>
 
 <script>
    // Seleccionamos el segundo div
    const section2 = document.querySelector('.section-2');

    window.addEventListener('scroll', () => {
      const section2Position = section2.getBoundingClientRect().top; // Distancia del 2º div al viewport

      // Si la parte superior del segundo div está visible, cambiamos el color
      if (section2Position <= window.innerHeight / 2.5) { 
        section2.style.backgroundColor = 'white'; // Cambia a blanco
        section2.style.color = 'black'; // Cambia el texto a negro
      } else {
        section2.style.backgroundColor = 'black'; // Cambia a negro
        section2.style.color = 'white'; // Cambia el texto a blanco
      }
    });

    //Animation
    let path = document.querySelector('path');
    let length = path.getTotalLength();
    console.log(length);

  </script>
  