:root{
    --var-background:#000a0f;

}

*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    background: var(--var-background);
}